{% extends 'index.html' %}

{% block title %}Category {{ cat }}{% endblock %}
{% block meta %}
    {% block canonical_link %}
        <link rel='canonical' href='{{https_site}}/pages/posts/categories/{{ cat }}/list.html' />
    {% endblock %}
    <meta description="List of {{ cat }} archives on {{https_site}}">
{% endblock %}

{% block content %}
    <h3>Posts tagged with {{ cat|capitalize }}</h3>
	{% include 'includes/full-note-archive-list.html' %}
{% endblock %}

{% block footer_scripts %}
    <script src="/static/js/filters.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var notesComponentFilter = new ListFilter("notes-archive-list")
            notesComponentFilter.main()
        })
    </script>
{% endblock %}
