{% extends 'index.html' %}

{% block title %} Documentation and Research {% endblock %}

{% block meta %}
    {% block canonical_link %}
    <link rel="canonical" href="{{ https_site }}/pages/documentation-research-archive.html" />
    {% endblock %}
    <meta description="Documentation and research documents.">
{% endblock %}

{% block content %}
    <h4> Documentation and Research Archive </h4>
    {% for each in objects %}
        <p>
            <a href="{{ each.href }}">
                {{ loop.index }})
                <span style="padding: 3px; margin-right: 5px; background-color: lightblue; color: black;">
                    PDF 
                </span>
                <span style="padding: 3px; margin-right: 5px; background-color: lightyellow; color: black;"> 
                    {% if each.type == 'documentation' %} DOCUMENTATION {% else %} RESEARCH {% endif %} </span> 
                {{ each.title }}
            </a>
        </p>
    {% endfor %}
{% endblock %}
