{% extends 'index.html' %}

{% block title %}Notes{% endblock %}

{% block meta %}
    {% block canonical_link %} 
        <link rel="cannonical" href="{{https_site}}" />
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="archives">
        <div class="archive-div">
            {% include 'includes/about-site.html' %}
        </div>
        <div class="middle-part flex flex-col">
            {% include 'includes/verification-of-ownership.html' %}
        </div>
        <div class="archive-div">
            {% include 'includes/privacy.html' %}
        </div>
    </div>
{% endblock %}
