{% extends 'index.html' %}

{% block title %}Notes{% endblock %}

{% block content %}
    <div class="archives">
        <div class="archive-div">
            {% include 'about-site.html' %}
        </div>
        <div class="archive-div">
            <div>
                {% with cat_rows = True, landing_page = True %}
                    {% include 'includes/category-list.html' %}
                {% endwith %}
            </div>
            <div>
                {% include 'latest-notes.html' %}
            </div>
        </div>
    </div>
{% endblock %}
