{% extends 'index.html' %}

{% block title %} Notes Archive {% endblock %}

{% block meta %}
    {% block canonical_link %} 
    <link rel='canonical' href='{{ https_site }}/pages/note-archive.html' /> 
    {% endblock %}
    <meta property='og:description' content='Archive of IT/programming and other notes.' />
    <meta property='og:url' content='{{ https_site }}pages/note-archive.html' />
{% endblock %}

{% block content %}
    <div id="notes-archive-main-div">
        <h4>Archive</h4>
        {% include 'includes/full-note-archive-list.html' %}
    </div>
    {% include 'includes/category-list.html' %}
{% endblock %}

{% block footer_scripts %}
    <script src="/static/js/filters.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var notesComponentFilter = new ListFilter("notes-archive-list")
            notesComponentFilter.main()
        })
    </script>
{% endblock %}
