{% extends 'index.html' %}

{% block title %} Notes Archive {% endblock %}

{% block content %}
    <h4>Archive</h4>
    {% for post in range(0, posts|length) %}
        {% set counter = post + 1 %}
        <div class="post-list-item">
            <p>
                <a href='{{ posts[post].href }}'>
                    {{ counter }}) {{ posts[post].title }}
                </a>
                <br>
                <a 
                    href="{{ media_posts_pdf_root}}{{ posts[post].post_name|replace('.md', '.pdf') }}" 
                    target="_blank">
                    Download PDF 
                </a>
                <br>
                <small>
                    Date published: {{ posts[post].date|replace("00:00:00", "") }}
                </small>
                <br>
                {% for cat in posts[post].categories %}
                <small> 
                    <span class="category-span">
                        {{ cat }}
                    </span>
                </small>
                {% endfor %}
            </p>
        </div>
    {% endfor %}
{% endblock %}
