{% extends 'index.html' %}
{% from 'macros/macros.html' import related_posts %}

{% block meta %}
    {% block canonical_link %} 
    <link rel='canonical' href='{{ https_site }}{{ note_permalink }}' /> 
    {% endblock %}
    <meta property='og:type' content='article' />
    <meta property='article:author' content='{{ https_site }}' />
    <meta property='article:publisher' content='{{ https_site }}' />
    <meta property='og:site_name' content='{{ https_site }}' />
    <meta property='og:title' content='{{ note_title }}' />
    <meta property='og:description' content='{{ note_description }}' />
    {% if note_image %}
        <meta property='og:image' content='{{ note_image }}' />
    {% endif %}
    <meta property='og:url' content='{{ https_site }}{{ note_permalink }}' />
{% endblock %}
{% block extra_styles %}<link rel="stylesheet" href="/static/css/code-styles.css" />{% endblock %}
{% block title %}{{ note_title|safe }}{% endblock %}
{% block content %}
    <div class="note">
        <div class="note-title">
            <h3>{{ note_title|safe }}</h3>
            <p>Date: {{ note_date }}<br>By: {{ note_author }}</p>
            <a 
                href="{{ media_posts_pdf_root}}{{ name|replace('.md', '.pdf') }}" 
                target="_blank">
                <button> <small>Download as PDF </small></button>
            </a>
        </div>
        <div class="note-body">
            {{ note_body|safe }}
        </div>
    </div>
    {% if type == 'series' %}
    <div class="series-list">
        <h3> This post is part of a series, check out the other parts of this series of notes </h3>
        {% for post in all_posts %}
            {% if type == 'series' and post.type == 'series' and post.title|safe != note_title|safe %}
                <div class="post-list-item">
                    <p>
                        <a href='{{ post.href }}'> {{ post.title|safe }} </a>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="note related-posts">
        <h3> Related Notes </h3>
        {{ related_posts(all_posts, note_categories, note_title) }}
    </div>

    </div>
{% endblock %}
