body {
    font-family: monospace; 
    background: black;
    color: white;
}
header {
    background: linear-gradient(crimson, black);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 17px;
    padding-bottom: 8px;
    position: fixed;
    width: 100%;
    top: 0%;
}
header nav {
    padding-top: 6px;
}
header nav a:hover {
    background: transparent;
}
header nav a img:hover {
    background-color: limegreen;
    border: 1px solid black;
}
header nav a img {
    background: rgba(255,255,255,.10);
    border-radius: 5px;
    border: 1px solid black;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    transition: .2s;
    background-color: lightblue;
    color: black;
}
pre {
    font-size: 10px;
    border: 2px groove black;
    white-space: pre;
    background: rgba(0,255,0, 0.05); 
    padding:5px; 
    overflow: auto; 
    line-height: 1.5;
    background: black;
}

.note-body p code {
    font-size: 10px;  
    background: lightyellow;
    border: 2px solid white;
    border-radius: 2px;
    color: black;
    padding: 1px;
}
.main-div {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.main-nav{
    height: 20px; 
    background: black;
}
.nav-link{
    color: white; 
    background: black; 
    border: 1px dashed black;
    margin-right: 18px;
}
.sticky{
    width: 100%; 
    position: fixed; top:2;
}
.about-site {
    background-image: url("/static/images/images/playa-grafitty.png");
    background-size: cover;
    margin-bottom: 15px;
    height: 300px;
}
.about-site-pic-div {
    border: 2px groove white;
    height: 200px;
}
.about-site-pic {

}
.penta{
    height: 300px;
    background-image: url("/static/images/images/inverted_pentagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.few-words {
}
.latest-archives {
}
.note{
    margin-bottom: 20px;
}
.note-body {
    margin-top: 20px;
    padding-top: 10px;
}
.archive-div {
}
.projects-div {
    margin-top: 25px;
}
.project-div {
    width: 300px;
    background: rgba(255,255,255,0.10);
    margin: 5px;
    padding: 10px;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.space-even {
    justify-content: space-evenly;
}
.console {
    background: rgba(255,255,255, .10);
    border: 1px solid rgba(255,255,255, .10);
    border-radius: 3px;
    height: 570px;
}
.console-menu {
    padding: 5px;
    margin-top:0;
    padding-bottom:0;
    color: grey;
}
.console-button {
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
}
.console-panel {
    background-image: url("/static/images/images/biohazard3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:10px;
}

.console-panel pre {
    background-color: rgba(0,0,0, 0.69);
    font-size: 11px;
    border: none;
}
.console-panel pre code {
    color: limegreen;
}
.category-span {
    margin:2px 4px 10px 0px;
    background: black;
    color: white;
}
.category-span a {
    color: white;
}
.post-list-item {
    background:  rgba(255,255,255, .10);;
    padding: 1px;
    margin: 2px;
}
.post-list-item-landing{
    background: black;
    padding: 1px;
    margin: 2px;
}
.post-list-item-landing a {
    color: white;
}
.related-posts {
    border-top: 1px solid lightgray;
}
footer {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}
.series-list {
    margin-top: 50px;
    margin-bottom: 50px;
}
.series-list div a {
    margin-left: 5px;
}
.mi-musica {
    margin-top: 30px;
    margin-bottom: 30px;
    background: black;
}
.mi-musica .console .console-menu {
    margin-bottom: 8px;
}
.rola {
    margin: 8px;
    border-radius: 10px;
    height: 160px;
    padding: 8px;
}

.console-panel-musica{
    background: black;
    height: 513px;
    overflow: scroll;
}
.console-root {
    background: rgba(255,255,255, .10);
    border: 1px solid rgba(255,255,255, .10);
    border-radius: 3px;
}

.console-panel-root {
    margin-top: 10px;
    background: black;
    overflow: scroll;
}
.console-root-footer {
    padding: 3px;
    color: rgba(255, 255, 255, .80);
}
.console-panel-root-pane-1 {
    padding: 20px;
}
.console-panel-root-pane-2 {
    padding: 20px;
}

.side-piece-container {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    display: flex;
}

.side-piece-up {
    background-color: crimson;
    color: black;
    position: fixed;
    top: 48vh;
    left: .8vw;
    transform: translate(-50%,50%);
}
.side-piece-up a {
    color: black;
}
.side-piece-down {
    background-color: crimson;
    position: fixed;
    top: 52vh;
    left: .8vw;
    transform: translate(-50%,50%);
}
.side-piece-down a {
    color: black;
}
.map-of-site {
}
.archive-list-download-pdf {
    background: black;
    color: white;
    margint-top: 10;
}
.search-field {
    background: transparent;
    width: 100%;
    color: white;
}

.archive-notes-list {
    margin-top: 20px;
}


