body {
    font-family: monospace; 
    background: whitesmoke;
    color: black;
}
header {
    margin-bottom: 15px;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    transition: .2s;
    background-color: lightblue;
    color: black;
}
pre {
    border: 2px groove black;
    white-space: pre;
    background: rgba(0,255,0, 0.05); 
    padding:5px; 
    overflow: auto; 
    line-height: 1.5;
    color: black;
}
.main-nav{
    height: 20px; 
    background: black;
}
.nav-link{
    color: white; 
    background: black; 
    border: 1px dashed black;
    margin-right: 18px;
}
.sticky{
    width: 100%; 
    position: fixed; top:2;
}
.about-site {
    background-image: url("/static/images/images/playa-grafitty.png");
    background-size: cover;
    margin-bottom: 15px;
    height: 300px;
}
.about-site-pic-div {
    border: 2px groove white;
    height: 200px;
}
.about-site-pic {

}
.penta{
    height: 300px;
    background-image: url("/static/images/images/inverted_pentagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.few-words {
}
.latest-archives {
}
.note{
    margin-bottom: 20px;
}
.note-body {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
}
.archive-div {
}
.projects-div {
    margin-top: 25px;
}
.project-div {
    width: 300px;
    background: rgba(255,255,255,0.10);
    margin: 5px;
    padding: 10px;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.space-even {
    justify-content: space-evenly;
}
.console {
    background-color: rgba(0, 0, 0, 0.20);
    border: 2px solid rgba(0, 0, 0, 0.69);
    height: 545px;
}
.console-menu {
    padding: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: black;
}
.category-span {
    margin:2px 4px 10px 0px;
    background: lightblue;
    color: black;
}
.post-list-item {
    background: rgba(0,0,0, 0.10);
    padding: 1px;
    margin: 2px;
}
footer {
margin-top: 50px;
}
