body {
    font-family: monospace; 
    background: white;
    color: black;
}
header {
    margin-bottom: 15px;
}
#title{
    color: white;
    background-color:rgba(0,0,255,.50);
}
#loading {
    display: block;
    position: absolute;
    top: 0;left: 0;z-index: 100;
    width: 100vw;
    height: 100vh;
}
#page {
    display: none;
}
#loading-image{
    height: 100px;
    width: 100px;
}
pre {
    box-shadow: 2px 4px black;
    border: 2px groove black;
    white-space: pre;
    background: whitesmoke; 
    padding:5px; 
    overflow: auto; 
    line-height: 1.5;
    color: black;
}
.main-nav{
    height: 20px; 
    background: black;
}
.nav-link{
    color: white; 
    background: black; 
    border: 1px dashed black;
    margin-right: 18px;
}
.sticky{
    width: 100%; 
    position: fixed; top:2;
}
.about-site {
    height: 250px;
}
.about-site-pic-div {
    border: 2px groove white;
    height: 200px;
    width: px;
}
.about-site-pic {

}
.dies div {
    font-size: 21px;
}
.about-site-few-words{
    border-top: 1px solid lightgrey;
    margin-top: 5px;
}
.few-words {
    margin-top: 5px;
}
.note{
    color: black; 
    margin-bottom: 20px;
}

.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.signature-right{
    padding:0; margin:0; 
    border-left: 2px solid black; 
    border-bottom: 2px solid black;
    background: black;
}
.signature-left{
    padding:0; 
    margin:0; 
    border-right: 2px solid black; 
    border-bottom: 2px solid black;
    background: black;
}
