{% macro related_posts(all_posts, post_categories, post_title) %}
    {% set counter = namespace(value=0) %}
    {% for cat in post_categories %}
        {% for post in all_posts %}
            {% if cat in post.categories and post_title != post.title %}
                {% set counter.value = counter.value + 1 %}
                <div class="post-list-item">
                    <p>
                        <a href='{{ post.href }}'>
                            {{ counter.value }}) {{ post.title }}
                        </a>
                        <br>
                        <a 
                            href="{{ media_posts_pdf_root}}{{ post.post_name|replace('.md', '.pdf') }}" 
                            target="_blank">
                            Download PDF 
                        </a>
                        <br>
                        <small>
                            Date published: {{ post.date|replace("00:00:00", "") }}
                        </small>
                        <br>
                        {% for cat in post.categories %}
                        <small> 
                            <span class="category-span">
                                <a href="{{categories_path }}/{{ cat }}/list.html">
                                    {{ cat }}
                                </a>
                            </span>
                        </small>
                        {% endfor %}
                    </p>
                </div>

            {% endif %}
        {% endfor %}
    {% endfor %}
{% endmacro %}
